._1qA8qr5X-y79ht5zzbzlBj {
  border: 1px solid LightGrey;
  border-radius: 3px;
}

._3a3ehX_Bj0cu3eqYt6hgsx {
  border-top: 1px solid LightGrey;
}

._16CcjTw93M5pHZyrj0L8iz {
  margin: 0;
}

._3MRrL2qweZsB6TcnIrDFU9 {
  border-top: 1px solid LightGrey;
  padding: 1em 1.5em;
}

._2167vyqN8Ra9QXVj6A-vnS {
  background: none;
  border: 0;
  font-size: 1rem;
  padding: 1em 1.5em;
  text-align: left;
  width: 100%
}

