{
  "parser": "babel-eslint",
  "plugins": [
    "jest"
  ],
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "rules": {
    "import/extensions": ["error", "always", {
      "ignorePackages": true
    }],
    "max-len": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "prefer-arrow-callback": ["error", {
      "allowNamedFunctions": true
    }],
    "react/jsx-filename-extension": "off"
  },
  "overrides": [{
    "env": {
      "browser": true,
      "jest/globals": true
    },
    "files": ["*test.js"],
    "rules": {
      "jsx-a11y/click-events-have-key-events": "off",
      "jsx-a11y/no-noninteractive-element-interactions": "off"
    }
  }]
}
