._1B78s2qohBUzyVFCr6Ok62 {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  flex-shrink: 0;
  height: 50px;
  overflow: auto; /* This might break DOM-based dropdowns */
  width: 200px;
}

._1B78s2qohBUzyVFCr6Ok62:first-child {
  border-left: 1px solid black;
}

._1B78s2qohBUzyVFCr6Ok62[tabindex="0"] {
  z-index: 1;
}

.jAIfYkD8QgsmURlAvboCR {
  border-top: 1px solid black;
}

._3HnqiGEZeYApev3bZrD-j9 {
  position: relative;
  transform: translate3d(0, 0, 0);
}

._2xcgdDJeIVwLrLlqctK7Qx {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

._2gtHxJ2IliUJ56n9YsZRkB {
  position: sticky;
  top: 0;
  z-index: 2;
}

.GW8NSUCJaBwamb3kJGtLH {
  background: peru;
}

.oaqzG6T4ZZ8tCra2fvvJx {
  background: #fed;
}

.S2ekw-IILUduR2ltJe0S1 {
  background: #deadbeef;
}

._24pgJKczPuKv6oicYQcVFq {
  background-color: lightgrey;
  border: 1px solid darkgrey;
  cursor: pointer;
  padding: 0 3px;
}

._24pgJKczPuKv6oicYQcVFq[aria-selected=true] {
  background-color: white;
}

._2Ti9e4pMwivwPv2_f578Qg {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

