._1B78s2qohBUzyVFCr6Ok62 {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 50px;
  overflow: auto; /* This might break DOM-based dropdowns */
  width: 200px;
}

._1B78s2qohBUzyVFCr6Ok62:first-child {
  border-left: 1px solid black;
}

._1B78s2qohBUzyVFCr6Ok62[tabindex="0"] {
  z-index: 1;
}

.jAIfYkD8QgsmURlAvboCR {
  border-top: 1px solid black;
}

._3HnqiGEZeYApev3bZrD-j9 {
  position: relative;
  transform: translate3d(0, 0, 0);
}

._2xcgdDJeIVwLrLlqctK7Qx {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

._2gtHxJ2IliUJ56n9YsZRkB {
  position: sticky;
  top: 0;
  z-index: 2;
}

.C8gP7Z4OV-FUabsjQuLfe {
  font-family: 'Open Sans', sans-serif;
}

._302vu8Wcio21gl6yeUyxn_ {

  background-color: #fbfaf6;
  border-right: 1px solid #e1e1dd;
  border-top: 1px solid #e1e1dd;
  border-bottom: 1px solid #e1e1dd;
  color: #737373;
  font-size: 12px;
  height: auto;
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;
}

._302vu8Wcio21gl6yeUyxn_:first-child {
  border-left: none;
}

._2P4FNvJ-2ynr_EQr49is7P {
}

._1gQtOAtXq-MsDXSNGLSMk6 {
  height: 45px;
}

.X0ti_jD_Cto5KgpcKYeKW {

  border-bottom: 1px solid #f5f5f2;
  border-right: none;
  color: #333;
  display: flex;
  flex-direction: column;
  height: auto;
  font-size: 14px;
  justify-content: center;
}

.X0ti_jD_Cto5KgpcKYeKW:first-child {
  border-left: none;
}

._1koOx6mizGuZwvIhsNI6pe {
  width: 25px;
}

._30C_ZO4427vnAncTvAc_lb {
  width: 150px;
}

._2L94yg4jmOHZgUTlrFY3wd {
  width: 300px;
}

.l4aepNVw8cRJV2rGRV2cV {
}

.luFu2Q-wZ3nCXZvOcunTg {
}

._2OUEXl_q1PMbw8CL6Dfoi8 {
}

._1j8OH9wyrgiZKlOMW_4piK {
}

.DUFRtu5M7sCwRDnF9h0Bd {
}

._3jKbYtz8Q0NZJ4j8zK68hM {
}

._1y8AqpVgpaTH1SVlrsTmdK {
  padding: 5px 10px 5px 10px;
}

._3vNtU2B2f8jrxn7gjsC4Ie {
  text-align: right;
}

._2MPR4TB7eI4IjKvB72y4eN {
  text-align: center;
}



.Z07e3cVhDu8sLQg9Dh0Jk {
}

._12YsqzX9S0l324UKqEoPgv {
  box-sizing: border-box;
  font-size: 14px;
  height: 100%;
  padding: 5px 10px 5px 10px;
  width: 100%;
}

._1sTIBGbMfOZ6feRbfUpODq {
  text-align: right;
}

.JMt6O4dS6bWFH5_0Mjp6a {
  text-align: right;
}

._2_Bfw-3b95taNbUl-ljSBY {
  text-align: right;
}

.OH1P2yoAoTcH6vMQDl3uc {
  text-align: right;
}

._24pgJKczPuKv6oicYQcVFq {
  background-color: lightgrey;
  border: 1px solid darkgrey;
  cursor: pointer;
  padding: 0 3px;
}

._24pgJKczPuKv6oicYQcVFq[aria-selected=true] {
  background-color: white;
}

._2Ti9e4pMwivwPv2_f578Qg {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

