.small-column {
  width: 30px;
}

.medium-column {
  width: 150px;
}

.large-column {
  width: 300px;
}

.small-header-cell {
  composes: column-header from './grid.css';
  composes: small-column;
}

.medium-header-cell {
  composes: column-header from './grid.css';
  composes: medium-column;
}

.large-header-cell {
  composes: column-header from './grid.css';
  composes: large-column;
}

.small-body-cell {
  composes: body-cell from './grid.css';
  composes: small-column;
  border-right: 1px solid #f5f5f2;
}

.medium-body-cell {
  composes: body-cell from './grid.css';
  composes: medium-column;
}

.large-body-cell {
  composes: body-cell from './grid.css';
  composes: large-column;
  font-weight: 600;
}

.non-interactive {
  padding: 5px 10px 5px 10px;
}

.position-cell-non-interactive {
  composes: non-interactive;
  color: #737373;
  cursor: pointer;
  font-size: 10px;
  text-align: right;
}

.position-cell-non-interactive:hover {
  color: #333;
}

.position-cell-interactive {
  margin: auto;
}

.input-cell-non-interactive {
  composes: non-interactive;
}

.input-cell-interactive {
  border: 0;
  background-color: lightgreen;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  height: 100%;
  padding: 5px 10px 5px 10px;
  width: 100%;
}

.date-header-cell {
  composes: column-header from './grid.css';
  text-align: right;
  width: 125px;
}

.date-cell-layout {
  composes: body-cell from './grid.css';
  width: 125px;
}

.date-cell-non-interactive {
  composes: non-interactive;
  text-align: right;
}

.date-cell-interactive {
  composes: input-cell-interactive;
  text-align: right;
}

.number-header-cell {
  composes: column-header from './grid.css';
  text-align: right;
  width: 100px;
}

.number-cell-layout {
  composes: body-cell from './grid.css';
  width: 100px;
}

.number-cell-non-interactive {
  composes: non-interactive;
  text-align: right;
}

.number-cell-interactive {
  composes: input-cell-interactive;
  text-align: right;
}
