.small-column {
  width: 30px;
}

.medium-column {
  width: 150px;
}

.large-column {
  width: 300px;
}

.small-header-cell {
  composes: column-header from './grid.css';
  composes: small-column;
}

.medium-header-cell {
  composes: column-header from './grid.css';
  composes: medium-column;
}

.large-header-cell {
  composes: column-header from './grid.css';
  composes: large-column;
}

.small-body-cell {
  composes: body-cell from './grid.css';
  composes: small-column;
}

.medium-body-cell {
  composes: body-cell from './grid.css';
  composes: medium-column;
}

.large-body-cell {
  composes: body-cell from './grid.css';
  composes: large-column;
}

.non-interactive {
  padding: 5px 10px 5px 10px;
}

.position-cell-non-interactive {
  composes: non-interactive;
  text-align: right;
}

.position-cell-interactive {
  text-align: center;
}



.input-cell-non-interactive {
  composes: non-interactive;
}

.input-cell-interactive {
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  height: 100%;
  padding: 5px 10px 5px 10px;
  width: 100%;
}

.date-cell-non-interactive {
  composes: non-interactive;
  text-align: right;
}

.date-cell-interactive {
  composes: input-cell-interactive;
  text-align: right;
}

.number-cell-non-interactive {
  composes: non-interactive;
  text-align: right;
}

.number-cell-interactive {
  composes: input-cell-interactive;
  text-align: right;
}
