.grid-container {
  font-family: 'Open Sans', sans-serif;
}

.column-header {
  composes: container from '../grid/column-header.css';

  background-color: #fbfaf6;
  border-right: 1px solid #e1e1dd;
  border-top: 1px solid #e1e1dd;
  border-bottom: 1px solid #e1e1dd;
  color: #737373;
  font-size: 12px;
  height: auto;
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;
}

.column-header:first-child {
  border-left: none;
}

.row-headers {
  composes: container from '../grid/row-headers.css';
}

.body-row {
  composes: container from '../grid/row.css';
  height: 45px;
}

.body-cell {
  composes: container from '../grid/grid-cell.css';

  border-bottom: 1px solid #f5f5f2;
  border-right: none;
  color: #333;
  display: flex;
  flex-direction: column;
  height: auto;
  font-size: 14px;
  justify-content: center;
  padding: 5px 10px 5px 10px;
}

.body-cell:first-child {
  border-left: none;
}

.input-cell-container {

}

.input-cell-input {
  box-sizing: border-box;
  width: 100%;
}
