.container {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  flex-shrink: 0;
  height: 50px;
  overflow: auto; /* This might break DOM-based dropdowns */
  width: 200px;
}

.container:first-child {
  border-left: 1px solid black;
}

.container[tabindex="0"] {
  z-index: 1;
}
