.container {
  border-top: 1px solid LightGrey;
}

.panel {
  border-top: 1px solid LightGrey;
  padding: 1em 1.5em;
}

.trigger {
  background: none;
  border: 0;
  font-size: 1rem;
  padding: 1em 1.5em;
  text-align: left;
  width: 100%
}

.trigger:focus, .trigger:hover {
  background-color: WhiteSmoke;
}
