.container {
  font-family: sans-serif;
  line-height: 1.5;
  width: 100%;
}

.row:not(:first-child) {
  border-color: silver;
  border-top-style: solid;
  border-width: 1px;
}

.cell {
  align-items: center;
  display: inline-flex;
  flex-basis: 0px;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.inputCell {
  composes: cell;
  color: #360;
}

.inputCell:hover {
  color: black;
}

.inputCellSVG {
  opacity: 0.8;
}

.inputCell:hover .inputCellSVG {
  opacity: 1;
}

.header {
  composes: cell;
  font-weight: 700;
}

.header:first-child {
  border-color: black;
  border-right-style: solid;
  border-width: 2px;
}
