.frozen-column {
  composes: container from '../grid/grid-cell.css';
  background-color: white;
  left: 0;
  position: sticky;
}

.frozen-header {
  composes: frozen-column;
  composes: container from '../grid/column-header.css';
  top: 0;
}

.grid-container {
  composes: container from '../grid/grid.css';
  height: 500px;
  overflow: auto;
}

.row-headers {
  composes: container from '../grid/row-headers.css';
  background-color: white;
}
