._1qA8qr5X-y79ht5zzbzlBj {
  border: 1px solid LightGrey;
  border-radius: 3px;
}

._3a3ehX_Bj0cu3eqYt6hgsx {
  border-top: 1px solid LightGrey;
}

._16CcjTw93M5pHZyrj0L8iz {
  margin: 0;
}

._3MRrL2qweZsB6TcnIrDFU9 {
  border-top: 1px solid LightGrey;
  padding: 1em 1.5em;
}

._2167vyqN8Ra9QXVj6A-vnS {
  background: none;
  border: 0;
  font-size: 1rem;
  padding: 1em 1.5em;
  text-align: left;
  width: 100%
}


._2zNAQSSgWNAafDuens04nR {
  font-family: sans-serif;
  line-height: 1.5;
  width: 100%;
}

._1YTGkValt0n0I3WURNwYhN:not(:first-child) {
  border-color: silver;
  border-top-style: solid;
  border-width: 1px;
}

._2ISBH5uj-NEbIe9kF6qajQ {
  flex-basis: 0px;
  flex-grow: 1;
  padding: 0.5em 1em;
}

._2Duwt_1MKGPWw8wkvV9pxb {
  font-weight: 700;
}

._2Duwt_1MKGPWw8wkvV9pxb:first-child {
  border-color: black;
  border-right-style: solid;
  border-width: 2px;
}

._24pgJKczPuKv6oicYQcVFq {
  background-color: lightgrey;
  border: 1px solid darkgrey;
  cursor: pointer;
  padding: 0 3px;
}

._24pgJKczPuKv6oicYQcVFq[aria-selected=true] {
  background-color: white;
}

._2Ti9e4pMwivwPv2_f578Qg {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

