._3i61CfQ9Xxi58gK2FvY_yC {
  font-family: sans-serif;
  line-height: 1.5;
  width: 100%;
}

._1rLHhmDAkO_OPxVxs8YQbU:not(:first-child) {
  border-color: silver;
  border-top-style: solid;
  border-width: 1px;
}

._4NJsYAt8N9DIbMu-Q5Ya6 {
  flex-basis: 0px;
  flex-grow: 1;
  padding: 0.5em 1em;
}

._1QCcLr4xtKeKkxace3oVtm {
  font-weight: 700;
}

._1QCcLr4xtKeKkxace3oVtm:first-child {
  border-color: black;
  border-right-style: solid;
  border-width: 2px;
}


._16QY3zj-4JTr0aX_e7cmA2 {
  font-family: sans-serif;
  line-height: 1.5;
  width: 100%;
}

._3YXUXJtqYCQISESiHFBHU4:not(:first-child) {
  border-color: silver;
  border-top-style: solid;
  border-width: 1px;
}

._2dYoSEDMj6RjJVjuWoTIe9 {
  align-items: center;
  display: inline-flex;
  flex-basis: 0px;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0.5em 1em;
}

._2aP8R2MWYvTPO__LhS1eVV {
  color: #360;
}

._2aP8R2MWYvTPO__LhS1eVV:focus {
  outline: none;
}

._2aP8R2MWYvTPO__LhS1eVV:hover {
  color: black;
}

._2eOcd2-eZ6ixspAlBasaJd {
  opacity: 0.8;
}

._2aP8R2MWYvTPO__LhS1eVV:hover ._2eOcd2-eZ6ixspAlBasaJd {
  opacity: 1;
}

._2aP8R2MWYvTPO__LhS1eVV:focus ._3h6sZ10EQM_aeSD8Flu0C_ {
  outline: #005a9c;
  outline-style: dotted;
  outline-width: 3px;
}

._2nDmwrIbq38AhPTk5Iu1a7 {
  font-weight: 700;
}

._2nDmwrIbq38AhPTk5Iu1a7:first-child {
  border-color: black;
  border-right-style: solid;
  border-width: 2px;
}

