._3i61CfQ9Xxi58gK2FvY_yC {
  font-family: sans-serif;
  line-height: 1.5;
  width: 100%;
}

._1rLHhmDAkO_OPxVxs8YQbU:not(:first-child) {
  border-color: silver;
  border-top-style: solid;
  border-width: 1px;
}

._4NJsYAt8N9DIbMu-Q5Ya6 {
  flex-basis: 0px;
  flex-grow: 1;
  padding: 0.5em 1em;
}

._1QCcLr4xtKeKkxace3oVtm {
  font-weight: 700;
}

._1QCcLr4xtKeKkxace3oVtm:first-child {
  border-color: black;
  border-right-style: solid;
  border-width: 2px;
}


._16QY3zj-4JTr0aX_e7cmA2 {
  font-family: sans-serif;
  line-height: 1.5;
  width: 100%;
}

._3YXUXJtqYCQISESiHFBHU4:not(:first-child) {
  border-color: silver;
  border-top-style: solid;
  border-width: 1px;
}

._2dYoSEDMj6RjJVjuWoTIe9 {
  flex-basis: 0px;
  flex-grow: 1;
  padding: 0.5em 1em;
}

._2nDmwrIbq38AhPTk5Iu1a7 {
  font-weight: 700;
}

._2nDmwrIbq38AhPTk5Iu1a7:first-child {
  border-color: black;
  border-right-style: solid;
  border-width: 2px;
}

