._3YeSYHd_gJukRaekCm7UrR {
  background-color: #eee;
  border: 1px solid #aaa;
  display: flex;
  padding: 20px;
}

.q0Wlm2Wje28GN5IVDl5IV {
  background-color: white;
  border: 1px solid #aaa;
  height: 18em;
  overflow-y: scroll;
  padding: 0;
  width: 100%;
}

._1Q_XnWS8Ic6Qgwcs_0IQgb {
  line-height: 1.8em;
  list-style-type: none;
  padding: 0 1em 0 1.5em;
  position: relative;
}

._1Q_XnWS8Ic6Qgwcs_0IQgb[aria-selected=true] {
  background-color: #bde4ff;
}

