.container {
  padding: 20px;
  background: #eee;
  border: 1px solid #aaa;
}

.button {
  border-radius: 0;
  font-size: 16px;
  text-align: left;
  padding: 5px 10px;
  width: 150px;
  position: relative;
}

.button::after {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #aaa;
  content: " ";
  position: absolute;
  right: 5px;
  top: 10px;
}

.button[aria-expanded="true"]::after {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 0;
  border-bottom: 8px solid #aaa;
  content: " ";
  position: absolute;
  right: 5px;
  top: 10px;
}

.hidden {
  display: none;
}

.listbox {
  border-top: 0;
  max-height: 10em;
  overflow-y: auto;
  position: absolute;
  margin: 0;
  width: 148px;

  min-height: 18em;
  padding: 0;
  background: white;
  border: 1px solid #aaa;
}

.option {
  display: block;
  padding: 0 1em 0 1.5em;
  position: relative;
  line-height: 1.8em;
  margin: 0.25em 0 0.5em;
  font-size: 14px;
}

.option:focus {
  background: #bde4ff;
}

.option[aria-selected="true"]::before {
  content: "✓";
  position: absolute;
  left: 0.5em;
}
