._3yQczY3e4HtvoRvXmMMWcw {
  font-family: sans-serif;
  line-height: 1.5;
  width: 100%;
}

._3utCdw9-IWgOWl8MHTcT3j:not(:first-child) {
  border-color: silver;
  border-top-style: solid;
  border-width: 1px;
}

.nNT8vTChpT4VFpIjc85Ow {
  flex-basis: 0px;
  flex-grow: 1;
  padding: 0.5em 1em;
}

._3WeE0uiKV9gFAxxry7u8e6 {
  font-weight: 700;
}

._3WeE0uiKV9gFAxxry7u8e6:first-child {
  border-color: black;
  border-right-style: solid;
  border-width: 2px;
}

